.account {
  width: 50%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  font-size: 12px;
}

.userName {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: --var(--fontPrimary);
}

.account>span:last-child {
  cursor: pointer;
}

.signup {
  font-size: 16px;
  font-weight: 600;
  color: #1d3557;
}